html {
  box-sizing: border-box;
  font-family: "Lato"; sans-serif;
  line-height: 1.5;
}

section {
  background-color: #f2f2f2;
  vertical-align: middle;
}

body {
  margin: 0;

}

img {
  display: inline-block;
  width: 100%;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 20px;
}

.btn-ghost {
  border-style: solid;
  border-color: #000;
  border-width: 3px;
  border-radius: 8px;
  padding: .5rem;
  color: #000;
  text-decoration: none;
}
